.modal-true {
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    color: black;
}

.modal-false {
    display: none;
}

.div-modal {
    background-color: white;
    width: 50vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.div-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-preview {
    text-align: center;
}
