.nav {
    display: flex;
    height: 10vh;
    width: 60vw;
    margin: auto;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    animation-name: animacion;
    animation-duration: 2s;
    text-decoration: none;
}

.navegacion {
    width: 80vw;
}

.ul {
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
